body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: rgb(25, 135, 80);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10% 20px;
    border-radius: 50px;
    min-height: auto;
}

.title {
    text-align: center;
}

nav {
    display: flex;
}

nav button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: rgb(255, 251, 194);
}

nav button a {
    text-decoration: none;
    color: rgb(25, 135, 80);
}

form {
    width: 40%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 0px;
}

button {
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    cursor: pointer;
}

#button_login,
#button_register {
    margin: 15px 0 15px;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(25, 135, 80);
}

#button_login:hover,
#button_register:hover {
    background-color: rgb(42, 197, 119)
}

.bouton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


footer {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: 0px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header h1 {
        font-size: 24px;
        margin: 5px 0 5px;
    }

    form {
        width: 80%;
    }

    header {

        padding: 5px 0 5px ;
        border-radius: 0;
        margin: 0 0 5px;

    }
}